<nav class="navbar navbar-expand-sm bg-success ">
    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" style="cursor: pointer;" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ 'Dr. ' + doctorname?.username || 'Dr. User'}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" style="cursor: pointer;">Profile</a>
          <a class="dropdown-item" style="cursor: pointer;" (click)="logout()">Logout</a>
        </div>
      </li>
    </ul>
</nav>
